<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <title>Angular JS Testing</title>
</head>
<body ng-app="myApp">
    <div class="main" ng-controller="MainController">
        <hello title="title"></hello>
        <p>{{msg}}</p>
        <button class="btn" ng-click="parse()">Parse</button>
        <div ng-if="parsed">
            <charty films="films"></charty>
        </div>
        <table style="border: 1px solid;" ng-if="parsed">
            <tr>
                <th style="border: 1px solid;">Year</th>
                <th style="border: 1px solid;">Score</th>
                <th style="border: 1px solid;">Title</th>
            </tr>
            <tr ng-repeat="film in films">
                <td style="border: 1px solid;">{{ film.Year }}</td>
                <td style="border: 1px solid;">{{ film.Score }}</td>
                <td style="border: 1px solid;">{{ film.Title }}</td>
            </tr>
        </table>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Services -->
    <script src="js/services/aggregate.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <script src="js/directives/hello.js"></script>
    <script src="js/directives/dataChart.js"></script>

    <!-- Other -->

</body>
</html>