<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.4.1/dist/chart.min.js"></script>
    <title>Angular JS Testing</title>
</head>
<body ng-app="myApp">
    <div class="main" ng-controller="MainController">
        <hello title="title"></hello>
        <p>Source code: <a href="https://github.com/vpeter1119/angularjs-learning" target="_blank" noopener noreferrer>https://github.com/vpeter1119/angularjs-learning</a></p>
        <p>Data source: <a href="https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html" target="_blank" noopener noreferrer>https://people.sc.fsu.edu/~jburkardt/data/csv/csv.html</a></p>
        <div>
            <form>
                <label for="from">From</label>
                <input type="text" name="from" id="input-from" ng-model="fromInput">
                <label for="to">To</label>
                <input type="text" name="to" id="input-to" ng-model="toInput">
                <button class="btn" ng-click="parse()">Show</button>
            </form>            
        </div>
        <div ng-if="errorMessage != null">
            <p style="font-weight: 900; color: red;">{{errorMessage}}</p>
        </div>
        <div ng-if="parsed">
            <p>Showing results from {{from}} to {{to}}:</p>
            <floodchart floods="floods"></floodchart>
        </div>
    </div>

    <!-- Modules -->
    <script src="js/app.js"></script>

    <!-- Controllers -->
    <script src="js/controllers/MainController.js"></script>

    <!-- Directives -->
    <script src="js/directives/hello.js"></script>
    <script src="js/directives/dataChart.js"></script>

    <!-- Services -->
    <!-- Other -->

</body>
</html>