<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/4.1.2/papaparse.js"></script>
    <title>Angular JS Testing</title>
</head>
    <body ng-app="myApp">
        <div class="main" ng-controller="MainController">
            <h1>{{ title }}</h1>
            <button class="btn" ng-click="parse()">Parse</button>
            <table>
                <tr>
                    <th>Year</th>
                    <th>Temperature</th>
                </tr>
                <tr ng-repeat="year in years">
                    <td>{{ year.year }}</td>
                    <td>{{ year.data }}</td>
                </tr>
            </table>
        </div>

        <!-- Modules -->
        <script src="js/app.js"></script>

        <!-- Controllers -->
        <script src="js/controllers/MainController.js"></script>

        <!-- Services -->

    </body>
</html>